@charset "UTF-8";
body {
  font-size: 1rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #111111;
  background-image: url("../img/tex_bg.png");
  background-repeat: repeat;
  background-size: 500px 500px;
  background-position: left top;
  overflow-x: hidden;
}

/*  ==============================
* レイアウト
============================== */
.containerL {
  width: 100%;
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}

.containerS {
  width: 100%;
  max-width: 792px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}
.section--top {
  padding: 240px 0 120px;
}

/*  ==============================
* テキスト
============================== */
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.heading-wrapper--rev {
  align-items: flex-end;
}
.heading-wrapper--rev .headingL__lead {
  text-align: right;
}
.headingL {
  font-size: 3rem;
  font-family: Prata, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 5.7%;
}
.headingL::after {
  content: "";
  display: block;
  width: 65.7142857143%;
  height: 1px;
  background-image: linear-gradient(to right, rgb(33, 33, 33), rgba(42, 42, 42, 0));
}
.headingL--rev {
  flex-direction: row-reverse;
}
.headingL--rev::after {
  background-image: linear-gradient(to left, rgb(33, 33, 33), rgba(42, 42, 42, 0));
}

/*  ==============================
* ユーティリティ
============================== */
.u-upper-case {
  text-transform: uppercase;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 24px;
}

.swiper-button-next {
  right: 24px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-top: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
}

.swiper-button-prev::after {
  rotate: -135deg;
}

.swiper-button-next::after {
  rotate: 45deg;
}

.swiper-pagination-bullet-active {
  background-color: #c39000;
}

/*  ==============================
    * ヒーロー動画
    ============================== */
.swiper {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.swiper-slide::before {
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 4px 4px;
  position: absolute;
  inset: 0;
  z-index: 2;
}
.swiper-slide video {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  min-width: 100%;
  min-height: 100%;
}

/*  ==============================
* ヘッダー
============================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 500;
  width: 100%;
  max-width: 1440px;
  background-color: rgba(255, 255, 255, 0.7);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-link {
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo-link:hover {
  opacity: 0.6;
}
.header__logo-img {
  width: 40px;
  height: 40px;
}
.header__logo-text {
  font-size: 2rem;
  color: #111111;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.header__link {
  transition-duration: 0.3s;
}
.header__link:hover {
  opacity: 0.8;
}
.header__link--active {
  color: #775800;
}

/*  ==============================
* About Us
============================== */
.about__texts {
  margin-top: 120px;
}
.about__text:not(:first-of-type) {
  margin-top: 16px;
}

/*  ==============================
* Works
============================== */
.works {
  /*
  * Movie ============================== */
  /*
  * Pictures ============================== */
  /*
  * Designs ============================== */
}
.works__cat {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 120px;
}
.works__cat-item--active {
  transition-duration: 0.3s;
}
.works__cat-item--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #111111;
}
.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 7.1428571429%;
       column-gap: 7.1428571429%;
  row-gap: 32px;
  margin-top: 64px;
}
.works__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
}
.works__video-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.works__list--pic {
  margin: inherit auto;
}
.works__pic-item {
  width: 16%;
  margin-bottom: 8px;
}
.works__pic-item img {
  width: 100%;
  filter: brightness(80%);
  transition-duration: 0.3s;
  cursor: pointer;
}
.works__pic-item img:hover {
  scale: 1.01;
  opacity: 0.8;
}
.works .grid-sizer {
  width: 16%;
}
.works__list--design {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.works__design-item {
  text-align: center;
  transition-duration: 0.3s;
  position: relative;
}
.works__design-item::after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  opacity: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}
.works__design-item:hover {
  opacity: 0.8;
}
.works__design-item:hover::after {
  opacity: 1;
}
.works__design-item:hover img {
  scale: 1.01;
}
.works__design-item a {
  display: block;
  overflow: hidden;
}
.works__design-item img {
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */