@use "variables" as *;

body {
    @include setFont($fs_body_PC);
    color: $c_body;
    background-image: url("img/tex_bg.png");
    background-repeat: repeat;
    background-size: 500px 500px;
    background-position: left top;
}
