@use "variables" as *;

body {
    @include setFont($fs_body_PC);
    color: $c_body;
    background-image: url("assets/img/tex_bg.png");
    background-repeat: repeat;
    background-size: 500px 500px;
    background-position: left top;
    overflow-x: hidden;

    @include media {
        @include setFont($fs_body_SP);
    }
}

input,
textarea {
    border: 1px solid $c_gray;
    padding: 16px;
    color: $c_body;
    outline: none;
    @include setFont($fs_form_PC);
    @include media {
        @include setFont($fs_form_SP);
    }

    &::placeholder {
        color: $c_gray;
    }

    &:focus {
        border-color: $c_body;
    }
}

textarea {
    resize: none;
}
