@use "variables" as *;

/*  ==============================
* レイアウト
============================== */
.containerL {
    width: 100%;
    max-width: 1152px;
    padding: 0 16px;
    margin: 0 auto;
}
.containerS {
    width: 100%;
    max-width: 792px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
    @include media {
        padding: 64px 0;
    }

    &--top {
        padding: 240px 0 120px;
        @include media {
            padding: 64px 0;
        }
    }

    &.contact {
        padding: 240px 0;
        @include media {
            padding: 80px 0;
        }
    }
}

/*  ==============================
* テキスト
============================== */
.heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    &--rev {
        align-items: flex-end;

        .headingL__lead {
            text-align: right;
            @include media {
                text-align: center;
            }
        }
    }
}

.headingL {
    @include setFont($fs_headingL_PC);
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    word-spacing: 0.5em;
    @include media {
        @include setFont($fs_headingL_SP);
        gap: 0;
        justify-content: center;
    }

    &::after {
        content: "";
        display: block;
        width: 60%;
        height: 1px;
        background-image: $g_line;
        @include media {
            display: none;
        }
    }

    &--rev {
        flex-direction: row-reverse;

        &::after {
            background-image: $g_line_rev;
        }
    }

    &--center {
        display: block;
        text-align: center;
        &::after {
            display: none;
        }
    }

    &__lead {
        @include media {
            text-align: center;
            margin: 0 auto;
        }
    }
}

/*  ==============================
* ボタン
============================== */
.btn {
    display: grid;
    place-content: center;
    border: 1px solid $c_gray;
    width: 74.66666666666667%;
    max-width: 280px;
    line-height: 1;
    padding: 16px 0;
    box-shadow: 0 6px 0 0 $c_gray;
    transition-duration: $dur_def;

    @media (hover: hover) {
        &:hover {
            box-shadow: none;
            translate: 0 6px;
        }
    }
}

/*  ==============================
* ユーティリティ
============================== */
.u-upper-case {
    text-transform: uppercase;
}

.u-block-only-SP {
    @include media {
        display: block;
    }
}

.u-inline-only-SP {
    display: none;
    @include media {
        display: inline;
    }
}
