@use "variables" as *;
@use "base";
@use "common";
@use "swiper";

/*  ==============================
    * ヒーロー動画
    ============================== */
.swiper {
    width: 100%;
    height: 100vh;
    max-width: 1440px;

    &-slide {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        // 画質ごまかす
        &::before {
            content: "";
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
            background-size: 4px 4px;
            position: absolute;
            inset: 0;
            z-index: 2;
        }

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

/*  ==============================
* ヘッダー
============================== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 500;
    width: 100%;
    max-width: 1440px;
    background-color: rgba(255, 255, 255, 0.7);

    &__logo {
        display: flex;
        align-items: center;
        &-link {
            transition-duration: $dur_def;
            display: flex;
            align-items: center;
            gap: 16px;

            &:hover {
                opacity: 0.6;
            }
        }
        &-img {
            width: 40px;
            height: 40px;
        }
        &-text {
            font-size: 2rem;
            color: $c_body;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    &__link {
        transition-duration: $dur_def;
        &:hover {
            opacity: 0.8;
        }
        &--active {
            color: darken($c_accent, 15%);
        }
    }
}

/*  ==============================
* About Us
============================== */
.about {
    &__texts {
        margin-top: 120px;
    }

    &__text:not(:first-of-type) {
        margin-top: 16px;
    }
}

/*  ==============================
* Works
============================== */
.works {
    &__cat {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 64px;
        margin-top: 120px;
    }

    &__cat-item--active {
        transition-duration: $dur_def;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $c_body;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7.142857142857143%;
        row-gap: 32px;
        margin-top: 64px;
    }

    /*
    * Movie ============================== */
    &__item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 8px;
    }

    &__video-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    /*
    * Pictures ============================== */
    &__list--pic {
        margin: inherit auto;
    }

    &__pic-item {
        width: 16%;
        margin-bottom: 8px;

        img {
            width: 100%;
            filter: brightness(80%);
            transition-duration: $dur_def;
            cursor: pointer;

            &:hover {
                scale: 1.01;
                opacity: 0.8;
            }
        }
    }

    .grid-sizer {
        width: 16%;
    }

    /*
    * Designs ============================== */
    &__list--design {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }

    &__design-item {
        text-align: center;
        transition-duration: $dur_def;
        // overflow: hidden;
        position: relative;

        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f35d";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            color: #fff;
            font-size: 2rem;
            font-weight: 900;
            opacity: 0;
            transition-duration: $dur_def;
            mix-blend-mode: difference;
        }
        &:hover {
            opacity: 0.8;

            &::after {
                opacity: 1;
            }

            img {
                scale: 1.01;
            }
        }

        a {
            display: block;
            overflow: hidden;
        }

        img {
            transition-duration: $dur_def;
            width: 100%;
            height: 100%;
        }
    }
}

/*  ==============================
* Services
============================== */
.services {
    &__list {
        margin-top: 120px;
        text-align: center;
    }

    &__item {
        width: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        &:not(:first-child) {
            margin-top: -80px;
        }

        &:nth-child(even) {
            margin-left: auto;
        }
    }

    &__title {
        @include setFont($fs_headingM_PC);
        position: relative;
        &::before,
        &::after {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            translate: -50% -50%;
        }
        &::before {
            border: 1px solid rgba($color: $c_accent, $alpha: 0.8);
            top: calc(50% - 4px);
            left: calc(50% - 4px);
        }
        &::after {
            background-color: rgba($c_accent, 0.2);
            top: calc(50% + 4px);
            left: calc(50% + 4px);
        }
    }

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
    }

    &__price {
        &-list {
            width: 100%;
        }

        &-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $c_gray;
            padding: 8px 0;
        }

        &-title {
            font-weight: normal;
        }
    }
}

/*  ==============================
    * Contact
    ============================== */
.contact {
    .form {
        &__area-wrapper {
            margin-top: 72px;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        input,
        textarea {
            width: 100%;
        }

        textarea {
            height: 400px;
        }

        input:not(:placeholder-shown),
        textarea:not(:placeholder-shown) {
            // border-top: none;
            & + label {
                opacity: 1;
            }
        }

        &__area {
            width: 100%;
            position: relative;
            display: inline-block;
        }

        &__label {
            position: absolute;
            top: 0;
            left: 0;
            @include setFont($fs_small);
            translate: 32px -50%;
            color: $c_gray;
            opacity: 0;
            padding: 0 8px;
            background-image: url("../img/tex_bg.png");
        }

        &__btn-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 72px;
        }
    }
}
