@charset "UTF-8";
body {
  font-size: 1rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #111111;
  background-image: url("assets/img/tex_bg.png");
  background-repeat: repeat;
  background-size: 500px 500px;
  background-position: left top;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.875rem;
    font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-weight: normal;
  }
}

input,
textarea {
  border: 1px solid #9f9f9f;
  padding: 16px;
  color: #111111;
  outline: none;
  font-size: 1.125rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  input,
  textarea {
    font-size: 1rem;
    font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
    line-height: 1;
    letter-spacing: 0em;
    font-weight: normal;
  }
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #9f9f9f;
}
input::placeholder,
textarea::placeholder {
  color: #9f9f9f;
}
input:focus,
textarea:focus {
  border-color: #111111;
}

textarea {
  resize: none;
}

/*  ==============================
* レイアウト
============================== */
.containerL {
  width: 100%;
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}

.containerS {
  width: 100%;
  max-width: 792px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 64px 0;
  }
}
.section--top {
  padding: 240px 0 120px;
}
@media screen and (max-width: 768px) {
  .section--top {
    padding: 64px 0;
  }
}
.section.contact {
  padding: 240px 0;
}
@media screen and (max-width: 768px) {
  .section.contact {
    padding: 80px 0;
  }
}

/*  ==============================
* テキスト
============================== */
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.heading-wrapper--rev {
  align-items: flex-end;
}
.heading-wrapper--rev .headingL__lead {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .heading-wrapper--rev .headingL__lead {
    text-align: center;
  }
}

.headingL {
  font-size: 3rem;
  font-family: Prata, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  word-spacing: 0.5em;
}
@media screen and (max-width: 768px) {
  .headingL {
    font-size: 2rem;
    font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
    line-height: 1;
    letter-spacing: 0.1em;
    font-weight: normal;
    gap: 0;
    justify-content: center;
  }
}
.headingL::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background-image: linear-gradient(to right, rgb(33, 33, 33), rgba(42, 42, 42, 0));
}
@media screen and (max-width: 768px) {
  .headingL::after {
    display: none;
  }
}
.headingL--rev {
  flex-direction: row-reverse;
}
.headingL--rev::after {
  background-image: linear-gradient(to left, rgb(33, 33, 33), rgba(42, 42, 42, 0));
}
.headingL--center {
  display: block;
  text-align: center;
}
.headingL--center::after {
  display: none;
}
@media screen and (max-width: 768px) {
  .headingL__lead {
    text-align: center;
    margin: 0 auto;
  }
}

/*  ==============================
* ボタン
============================== */
.btn {
  display: grid;
  place-content: center;
  border: 1px solid #9f9f9f;
  width: 74.6666666667%;
  max-width: 280px;
  line-height: 1;
  padding: 16px 0;
  box-shadow: 0 6px 0 0 #9f9f9f;
  transition-duration: 0.3s;
}
@media (hover: hover) {
  .btn:hover {
    box-shadow: none;
    translate: 0 6px;
  }
}

/*  ==============================
* ユーティリティ
============================== */
.u-upper-case {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .u-block-only-SP {
    display: block;
  }
}

.u-inline-only-SP {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-inline-only-SP {
    display: inline;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 24px;
}

.swiper-button-next {
  right: 24px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-top: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
}

.swiper-button-prev::after {
  rotate: -135deg;
}

.swiper-button-next::after {
  rotate: 45deg;
}

.swiper-pagination-bullet-active {
  background-color: #c39000;
}

/*  ==============================
    * ヒーロー動画
    ============================== */
.swiper {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.swiper-slide::before {
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 4px 4px;
  position: absolute;
  inset: 0;
  z-index: 2;
}
.swiper-slide video {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  min-width: 100%;
  min-height: 100%;
}

/*  ==============================
* ヘッダー
============================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 500;
  width: 100%;
  max-width: 1440px;
  background-color: rgba(255, 255, 255, 0.7);
  transition-duration: 0.3s;
  pointer-events: none;
}
.header.js-open-menu {
  background-color: transparent;
}
.header.scrolled {
  background-color: transparent;
}
@media screen and (max-width: 960px) {
  .header {
    height: 64px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  pointer-events: all;
}
.header__logo-link {
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo-link:hover {
  opacity: 0.6;
}
.header__logo-img {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 960px) {
  .header__logo-img {
    width: 32px;
    height: 32px;
  }
}
.header__logo-text {
  font-size: min(2.2222222222vw, 2rem);
  color: #111111;
}
@media screen and (max-width: 960px) {
  .header__logo-text {
    display: none;
  }
}
.header__gnav {
  width: 100%;
  pointer-events: all;
}
.header__gnav.js-open-menu {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 960px) {
  .header__gnav {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition-duration: 0.3s;
    pointer-events: none;
  }
}
.header__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: min(5.5555555556vw, 80px);
}
@media screen and (max-width: 960px) {
  .header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header__link {
  transition-duration: 0.3s;
}
.header__link:hover {
  opacity: 0.8;
}
.header__link--active {
  color: #775800;
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .header__link {
    padding: 16px;
  }
}

/*  ==============================
* ハンバーガーメニュー
============================== */
.hamburger {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 1500;
  display: none;
  pointer-events: all;
}
@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
  }
}
.hamburger.js-open-menu span:nth-child(1) {
  top: 14px;
  width: 20px;
  height: 2px;
  rotate: -45deg;
  border-radius: 8px;
}
.hamburger.js-open-menu span:nth-child(2) {
  opacity: 0;
}
.hamburger.js-open-menu span:nth-child(3) {
  top: 14px;
  width: 20px;
  height: 2px;
  rotate: 45deg;
  border-radius: 8px;
}
.hamburger span {
  width: 4px;
  height: 4px;
  display: block;
  background-color: #111111;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 50%;
  translate: -50% 0;
  transition-duration: 0.3s;
}
.hamburger span:nth-child(2) {
  top: 14px;
}
.hamburger span:nth-child(3) {
  top: 22px;
}

/*  ==============================
* About Us
============================== */
.about__texts {
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .about__texts {
    margin-top: 32px;
  }
}
.about__text:not(:first-of-type) {
  margin-top: 16px;
}

/*  ==============================
* Works
============================== */
.works {
  /*
  * Movie ============================== */
  /*
  * Pictures ============================== */
  /*
  * Designs ============================== */
}
.works__cat {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 120px;
  font-size: 1.5rem;
  font-family: Sarcellus, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .works__cat {
    margin-top: 56px;
    gap: 40px;
    font-size: 1rem;
    font-family: Marcellus, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
    line-height: 1;
    letter-spacing: 0.05em;
    font-weight: normal;
  }
}
.works__cat-item--active {
  transition-duration: 0.3s;
  position: relative;
}
.works__cat-item--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #111111;
  position: absolute;
  bottom: -8px;
}
@media screen and (max-width: 768px) {
  .works__cat-item--active::after {
    bottom: -4px;
  }
}
.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 7.1428571429%;
       column-gap: 7.1428571429%;
  row-gap: 32px;
  margin-top: 64px;
}
@media screen and (max-width: 768px) {
  .works__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    row-gap: 16px;
  }
}
.works__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .works__item {
    gap: 2px;
  }
}
@media screen and (max-width: 768px) {
  .works__item--hideSP {
    display: none;
  }
}
.works__item--hideSP.js-show {
  display: flex;
}
.works__video-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.works .movie-btn-wrapper {
  display: none;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .works .movie-btn-wrapper {
    display: flex;
  }
}
.works__list--pic {
  margin: inherit auto;
}
.works__pic-item {
  width: 100%;
  margin-bottom: 2px;
}
@media screen and (min-width: 300px) {
  .works__pic-item {
    width: 49.5%;
  }
  .gutter-sizer {
    width: 1%;
  }
}
@media screen and (min-width: 600px) {
  .works__pic-item {
    width: 32.666%;
  }
}
@media screen and (min-width: 690px) {
  .works__pic-item {
    width: 24.25%;
  }
}
.works__pic-item img {
  width: 100%;
  filter: brightness(80%);
  transition-duration: 0.3s;
  cursor: pointer;
}
.works__pic-item img:hover {
  scale: 1.01;
  opacity: 0.8;
}
.works__list--design {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.works__design-item {
  text-align: center;
  transition-duration: 0.3s;
  position: relative;
}
.works__design-item::after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  opacity: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}
.works__design-item:hover {
  opacity: 0.8;
}
.works__design-item:hover::after {
  opacity: 1;
}
.works__design-item:hover img {
  scale: 1.01;
}
.works__design-item a {
  display: block;
  overflow: hidden;
}
.works__design-item img {
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
}

/*  ==============================
* Services
============================== */
.services__list {
  margin-top: 120px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .services__list {
    margin-top: 64px;
  }
}
.services__item {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .services__item {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .services__item {
    width: 100%;
  }
}
.services__item:not(:first-child) {
  margin-top: -80px;
}
@media screen and (max-width: 1024px) {
  .services__item:not(:first-child) {
    margin-top: 120px;
  }
}
.services__item:nth-child(even) {
  margin-left: auto;
}
.services__title {
  font-size: 2rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-weight: normal;
  position: relative;
}
.services__title::before, .services__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  translate: -50% -50%;
}
.services__title::before {
  border: 1px solid rgba(195, 144, 0, 0.8);
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}
.services__title::after {
  background-color: rgba(195, 144, 0, 0.2);
  top: calc(50% + 4px);
  left: calc(50% + 4px);
}
.services__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.services__lead {
  font-size: 1rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-weight: normal;
}
.services__price-list {
  width: 100%;
}
.services__price-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9f9f9f;
  padding: 8px 0;
}
.services__price-title {
  font-weight: normal;
}
.services__note-list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .services__note-list {
    display: grid;
    text-align: left;
    grid-template-columns: 82px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-top: 8px;
  }
}

/*  ==============================
    * Contact
    ============================== */
.contact .form__area-wrapper {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact .form input,
.contact .form textarea {
  width: 100%;
}
.contact .form textarea {
  height: 400px;
}
.contact .form input:not(:-moz-placeholder-shown) + label, .contact .form textarea:not(:-moz-placeholder-shown) + label {
  opacity: 1;
}
.contact .form input:not(:placeholder-shown) + label,
.contact .form textarea:not(:placeholder-shown) + label {
  opacity: 1;
}
.contact .form__area {
  width: 100%;
  position: relative;
  display: inline-block;
}
.contact .form__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  font-family: BIZ UDPMincho, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: normal;
  translate: 32px -50%;
  color: #9f9f9f;
  opacity: 0;
  padding: 0 8px;
  background-image: url("assets/img/tex_bg.png");
}
.contact .form__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

/*  ==============================
* フッター
============================== */
.footer {
  padding: 80px 0;
  text-align: center;
  color: #c39000;
}

/*  ==============================
* ページトップへ戻るボタン
============================== */
.page-top-btn {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 1rem;
  font-family: Marcellus, 游明朝, YuMincho, Hiragino Mincho ProN W3, ヒラギノ明朝 ProN W3, Hiragino Mincho ProN, HG明朝E, ＭＳ Ｐ明朝, ＭＳ 明朝, serif;
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: normal;
  padding: 20px 36px 20px 12px;
}
.page-top-btn::before, .page-top-btn::after {
  content: "";
  display: block;
  background-color: #111111;
  position: absolute;
}
.page-top-btn::before {
  width: 1px;
  height: 80px;
  top: 50%;
  right: 18px;
  translate: 0 -50%;
}
.page-top-btn::after {
  width: 1px;
  height: 16px;
  top: calc(50% - 40px);
  right: 18px;
  transform-origin: 0 0;
  rotate: -25deg;
}/*# sourceMappingURL=style.css.map */